.ui.button.btngrp-bar {
  width: 30px;
  padding: 6px;
}

.btngrp-bar.ui.basic.button:focus,
.ui.basic.buttons .btngrp-bar.button:focus {
  box-shadow: unset;
  color: rgba(0, 0, 0, 0.6) !important;
}

button.btngrp-bar.ui.basic.button.primary.big-outline {
  color: #2185d0 !important;
  font-weight: bold;
  box-shadow: 0 0 0 2px #2185d0 inset !important;
}

.box-shadow {
  padding: 2px;
  border-radius: 5px;
  border: 1px solid grey;
  box-shadow: 2px 2px 4px;
  background-color: rgba(255, 255, 255, 1);
}

.textstroke {
  font-weight: bold;

  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.dropzone {
  border: 2px dashed #dedede;
  border-radius: 5px;
  background: #f5f5f5;
}

.dropzone i {
  font-size: 5rem;
}

.dropzone .dz-message {
  color: rgba(0, 0, 0, 0.54);
  font-weight: 500;
  font-size: initial;
  text-transform: uppercase;
}

table.ui.table.stats-table td {
  padding: 0.4em;
}

table.ui.table.stats-table th {
  padding: 0.4em;
}
